<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="/new/auction">Add item to auction</a>
{% for item in items %}
    <h1><a href="item/{{ item.name }}">{{ item.name }}</a></h1>
    <ul>
        <li>Current Bid: {{ item.current_price|floatformat:2 }}</li>
        {% if item.status != 'closed' %}<li>Status: {{ item.status }}</li>
        {% else %}
        <li>Sold to: {{ item.current_bidder }}</li>
        {% endif %}
    </ul>
{% endfor %}

</body>
</html>