<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <ul>
        <li>Current Bid: {{ item.current_price|floatformat:2 }}</li>
        {% if item.current_bidder != '' %}<li>Bidder: {{ item.current_bidder }}</li>{% endif %}
        <li>Status: {{ item.status }}</li>
    </ul>
    {% if item.status == 'created' %}
        <a href="{{ item.id }}/begin">Start Auction</a>
    {% endif %}
{% if item.status == 'open' %}
    <form method="post" action="{{ item.id }}/update">{% csrf_token %}
    {{ form }}
    <input type="submit"/>
    </form>
{% endif %}

{% if item.status == 'open' %}
        <a href="{{ item.id }}/end">End Auction</a>
    {% endif %}
</body>
</html>