<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <ul>
        <li>Current Bid: {{ item.current_price|floatformat:2 }}</li>
        {% if item.current_bidder != '' %}<li>Bidder: {{ item.current_bidder }}</li>{% endif %}
        {% if item.status != 'closed' %}<li>Status: {{ item.status }}</li>
        {% else %}
        <li>Sold to: {{ item.current_bidder }}</li>
        {% endif %}
    </ul>
    {% if item.status == 'created' %}
        <a href="{{ item.name }}/begin">Start Auction</a>
    {% endif %}
{% if item.status == 'open' %}
    <form method="post" action="{{ item.name }}/update">{% csrf_token %}
    {{ form }}
    <input type="submit"/>
    </form>
{% endif %}

{% if item.status == 'open' %}
        <a href="{{ item.name }}/end">End Auction</a>
    {% endif %}
</body>
</html>